DATABASE_URL=postgresql://username:password@localhost/spectral_wheat_db
SECRET_KEY=your_secret_key_here
AGMARKNET_API_KEY=your_agmarknet_api_key_here
AGMARKNET_RESOURCE_ID=your_AGMARKNET_RESOURCE_ID_here
